//initial styles
@import "./initial-styles/nullstyle.scss";
@import "./initial-styles/mixins";
@import "./initial-styles/variables";
@import "./initial-styles/fonts";

//component styles
@import "./componentStyles/header.scss";
@import './componentStyles/footer.scss';
@import './componentStyles/topRated.scss';
@import './componentStyles/productCard.scss';

.loading-spinner {
  position: absolute;
  width: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


