.choose-us {
  padding: 0 25px;
  margin-bottom: 90px;
  &__wrapper {
    max-width: 1175px;
    width: 100%;
    display: flex;
    gap: 47px;
    margin: 0 auto;
  }
  &__card {
    padding: 20px 23px 23px 23px;
    max-width: 360px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    @include default-font(24px, 700);
  }
  &__text {
    @include default-font(16px);
  }
  @media screen and (max-width: 999px) {
    &__wrapper {
      gap: 27px;
    }
  }
  @media screen and (max-width: 883px) {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card {
      max-width: 650px;
    }
  }
  @media screen and (max-width: 525px) {
    margin-bottom: 50px;
    &__wrapper {
      gap: 10px;
    }
  }
}
