.footer {
  background: #fff;
  box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.25);

  &__container {
    max-width: 967px;
    margin: 0 auto;
  }
  &__logo {
    width: 132.8px;
    height: 145.6px;
    margin-top: -2.5px;
    margin-bottom: 24.8px;
    cursor: pointer;
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
  }
  &__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 199px;
    &-title {
      @include default-font(24px, 700, center);
      margin-bottom: 20px;
      margin-top: 51px;
    }
    &-link {
      @include default-font(12px, 400, center, 200%);
      a {
        color: #665f5f;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
    a {
      color: #665f5f;
    }
  }
  &__credit-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 17px;
    svg {
      @include adaptive-font(55, 33);
    }
    a {
      color: #665f5f;
    }
  }
  &__rights {
    display: flex;
    @include default-font(14px, 400, center);
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    &__tabs {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;
    }
    &__logo {
      margin-bottom: 24px;
    }
    &__tab {
      border-top: 1px solid #ffd1d7;
      width: 100%;
      padding-bottom: 21px;
      padding-top: 21px;
      &:nth-child(1) {
        padding-top: 0;
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-top: none;
      }
      &:nth-child(4) {
        padding-bottom: 0;
        padding-top: 0;
      }
      &-title {
        margin-top: 0;
      }
      &-link {
        max-width: 199px;
      }
    }
  }
  @media screen and (max-width: 374px) {
    &__socials {
      margin-bottom: 5px;
    }
    &__credit-cards {
      margin-bottom: 5px;
    }
    &__rights {
      margin-bottom: 6px;
    }
  }
}
