.header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 999;
  transition: position 0.5s ease, top ease 0.5s;
  &_scrolled {
    position: sticky;
    top: 0;
  }
  &__container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: height 0.5s ease;
  }
  &__logo {
    margin-top: -16px;
    cursor: pointer;
  }
  &__icon-menu {
    cursor: pointer;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 45px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: path ease 0.3s, scale ease 0.3s, width 0.3s ease;
    svg {
      font-size: 20px;
      path {
        transition: all ease 0.3s;
      }
    }
    &:hover {
      scale: 1.2;
      svg {
        path:first-child,
        path:last-child {
          transform: scaleX(2.2);
        }
        path:nth-child(2) {
          transform: scaleX(0.7);
        }
      }
    }
  }
  &__icon-search {
    cursor: pointer;
    background-color: transparent;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 45px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: path ease 0.3s, scale ease 0.3s, width 0.3s ease;
    font-family: Montserrat;
    color: #665f5f;
    svg {
      path {
        transition: all ease 0.3s;
      }
    }
    &_opened {
      cursor: pointer;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      width: 450px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      transition: all ease 0.4s;
      padding-left: 18px;
      svg {
        path:last-child {
          fill: #ffd1d7;
        }
      }
    }
    &:hover {
      scale: 1.2;
    }
  }
  &__login {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 5px;
    transition: scale 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    &-text {
      @include default-font(12px);
    }
    &:hover {
      scale: 1.2;
    }
  }
  &__left {
    width: 262px;
    &-signIn {
      width: 194px;
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }
  &__profile-img {
    max-width: 45px;
    max-height: 45px;
    img {
      border-radius: 50%;
      max-width: 45px;
      max-height: 45px;
      object-fit: cover;
    }
  }
  &__cart-block {
    cursor: pointer;
    max-width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 13px;
    gap: 7px;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: scale 0.3s ease;
    &:hover {
      scale: 1.2;
    }
  }
  &__money {
    @include default-font(12px, 700);
  }
  &__cart-alert-sign {
    position: absolute;
    top: -3px;
    right: 1px;
    width: 13px;
    height: 13px;
    span {
      width: 100%;
      height: 100%;
      border: 2.3px solid #ededed;
      border-radius: 50%;
      background-color: #ffd1d7;
      position: absolute;
    }
    &_hidden {
      display: none;
    }
  }

  //Tablet

  @media screen and (max-width: 1060px) {
    padding: 28px 29px 25px 39px;
    &__nav {
      height: auto;
    }
    &__logo {
      display: none;
    }
  }
  @media screen and (max-width: 761px) {
    &__left {
      width: auto;
    }
  }
  @media screen and (max-width: 692px) {
    &__icon-search {
      &_opened {
        width: 300px;
      }
    }
  }
  @media screen and (max-width: 542px) {
    &__icon-search {
      &_opened {
        width: 280px;
      }
    }
  }
  @media screen and (max-width: 525px) {
    &__icon-search {
      &_opened {
        justify-content: center;
        width: 45px;
        padding-left: 0;
      }
    }
  }
  //Phone

  @media screen and (max-width: 375px) {
    padding: 31.5px 18px 23px 16px;
    &__cart-block {
      padding: 0;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__money {
      display: none;
    }
  }
}
