.product-card {
  max-width: 289px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25),
    -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
  transition: scale ease 0.4s, box-shadow ease 0.4s;
  &:hover {
    box-shadow: 6px 6px 30px rgba(44, 44, 44, 0.4);
  }
  &__img {
    object-fit: cover;
    width: 289px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
  }
  &__info-wrapper {
    padding: 21px 11px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  &__title {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 124.182%;
  }
  &__price {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 124.182%;
    color: #665f5f;
  }
  &__button {
    position: relative;
    padding: 9px 13px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25));
    background-color: #665f5f;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    transition: background-color ease 0.2s, box-shadow ease 0.4s;
    &-text {
      position: relative;
      font-size: 12px;
      font-family: Montserrat;
      font-weight: 700;
      line-height: 124.182%;
      color: white;
      z-index: 2;
    }
    span {
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      background-color: #ffd1d7;
      top: 0;
      right: 0;
      z-index: 1;
      border-radius: 50%;
      transition: scale ease-in-out 0.3s;
    }
    &_soledOut {
      background-color: #ffd1d7;
      padding: 9px 13px;
      border-radius: 6px;
      cursor: pointer;
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    }
    &:hover {
      background-color: transparent;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      span {
        scale: 250;
      }
    }
  }

  @media screen and (max-width: 700px) {
    max-width: 210px;
    &__img {
      width: 210px;
    }
    &__info-wrapper {
      gap: 0px;
    }
    &__info {
      max-width: 105px;
    }
    &__title {
      font-size: 10px;
    }
    &__button {
      padding: 9px;
      &-text {
        font-size: 10px;
      }
    }
  }
  @media screen and (max-width: 525px) {
    max-width: 261px;
    &__img {
      width: 261px;
    }
    &__title {
      font-size: 12px;
    }
    &__button {
      &-text {
        font-size: 12px;
      }
      padding: 8px 10px;
    }
    &__info-wrapper {
      padding: 10px 10px 9px 10px;
    }
    &__info {
      max-width: 138px;
      gap: 5px;
    }
    &__price {
      font-size: 13px;
    }
  }
}
