.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd1d7;
  padding: 70px 25px 145px 25px;
  gap: 11px;
  margin-bottom: 90px;
  &__icon {
    stroke: #665f5f;
  }
  @media screen and (max-width: 525px) {
    &__title {
      display: none;
    }
    margin-bottom: 74px;
    padding: 57px 40px;
  }
}
