.slider {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow-x: hidden;
  padding-top: 33px;

  &__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    background-color: transparent;
    display: flex;
  }
  &-slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  &-button {
    background-color: white;
    width: 41px;
    height: 41px;
    @include default-font(25px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    transition: scale 0.3s ease, box-shadow ease 0.3s;
    &:hover {
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25),
        -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
      scale: 1.2;
    }
    &-prev {
      position: relative;
      right: 0px;
      margin-left: 15px;
    }
    &-next {
      left: 0px;
      position: relative;
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 495px) {
    max-width: 375px;
    padding-top: 0px;
    &__wrapper {
      max-width: 375px;
      max-height: 375px;
    }
    &-button {
      display: none;
    }
  }
}
