.top-rated {
  padding: 0 25px;
  &__cards {
    margin: 0 auto 40px auto;
    display: flex;
    gap: 55px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 978px;
  }
  @media screen and (max-width: 700px) {
    &__cards {
        gap: 35px;
    }
  }
  @media screen and (max-width: 525px){
    &__cards {
        gap: 20px;
    }
  }
  @media screen and (max-width: 374px) {
    padding: 0px;
    &__title {
        font-size: 32px;
    }
  }
  @media screen and (max-width: 341px) {
    padding: 0 18px;
  }

}
